---
export const prerender = true

import { getCollection, getEntryBySlug } from 'astro:content'
import DefaultPageLayout from '$/layouts/default.astro'
import PostPreviewList from '$/components/PostPreviewList.astro'
import Prose from '$/components/Prose.astro'

const title = 'Giriş'
const description = 'Gönüllü geliştirilen yazılımlarla oluşan bir yazılım vakfı'

const posts = await getCollection('blog')
---
<DefaultPageLayout content={{ title, description }} showPageHeader={false}>
    <div class="hero">
        <div class="hero__face">
            <div class="author-card">
                <img src="/assets/logo.svg" title="Aalam" alt="aya, açık yazılım ağı" />
            </div>
        </div>
        <div class="hero__says">
            <Prose>
                <strong>Açık Yazılım Ağı</strong> (AYA), gönüllülerin toplum yararını gözeten yazılım tabanlı
                çözümler üretme motivasyonuyla bir araya gelip geliştirmiş oldukları yazılımları açık kaynak
                olarak yayınlandıkları bir platformdur.<br />
                <br />
                Bugüne kadar bilişim sektörü gönüllülerinin, uzmanı olduğu bilişim teknolojilerini kullanarak
                kolektif bir şekilde projelerini gerçeklenmelerinde katkılar sağladık. Bu projeler resmi
                kurumlar ve sivil toplum kuruluşları başta olmak üzere herkesin erişimine ve denetimine açık,
                üzerinde bir hak sahipliği bulunmayan yazılım çözümleri oldular. Bizim buradaki rolümüz hem
                iletişime aracı olmak hem de kaynak yönetiminde koordinasyon sağlamak oldu.
            </Prose>
            <p align="right">
                <a class="action__go-to-blog ink-h" href="/about" title="Hakkımızda">Yazının Devamı &rarr;</a>
            </p>
        </div>
    </div>
    <hr/>
    <PostPreviewList posts={posts.slice(0, 3)} heading="son yazılar"/>
    <div class="page__actions">
        <a class="action__go-to-blog ink-h" href="/blog" title="Tüm Yazılar">Tüm Yazılar &rarr;</a>
    </div>
</DefaultPageLayout>

<style>
    .hero {
        @apply flex flex-col md:flex-row gap-8 w-full transition-all pb-10
    }
    .hero__face {
        @apply flex md:flex-none justify-center
    }
    .hero__says {
        @apply flex-1 text-center md:text-left
    }
    .author-card, .author-card img {
        @apply h-48 w-48 md:h-56
    }
    .page__actions {
        @apply flex justify-center md:justify-end py-6
    }
    .action__go-to-blog {
        @apply py-4 hover:underline
    }
</style>
