---
import { Icon } from "astro-icon/components";

interface Props {
	label?: string;
	editUrl: string;
}

const { editUrl, label } = Astro.props;
---

{
  editUrl && (
    <a
      href={editUrl}
      title={label}
      class="flex items-center text-theme-primary dark:text-theme-dark-primary text-sm"
    >
      <Icon class="w-4 h-4 mr-2" name="mdi:pencil" />
      {label}
    </a>
  )
}
