---
    import { SITE } from '$/config'
    import ModeLabel from './mode-label.svelte'

    const year = new Date().getFullYear()
---
<footer class="footer">
    <nav class="nav">
        <div>&copy; { year } <a href={ SITE.url }>{ SITE.name }</a>
    </nav>
</footer>
<style>
    .footer {
        @apply py-6 border-t
    }
</style>
