---
import { SITE } from "$/config";

const year = new Date().getFullYear();
---

<footer class="footer">
  <nav class="nav">
    <div>&copy; {year} <a href={SITE.url}>{SITE.name}</a></div>
  </nav>
  <style>
    .footer {
      @apply py-6 border-t;
    }
  </style>
</footer>
