---
const { page } = Astro.props
---
<div class="page__actions">
    {page.url.prev && <a class="action__go-to-x" href={page.url.prev} title="Önceki Sayfaya Git">&larr; Önceki</a>}
    {page.url.next && <a class="action__go-to-x" href={page.url.next} title="Sonraki Sayfaya Git">Sonraki &rarr;</a>}
</div>
<style>
    .page__actions {
        @apply flex justify-center md:justify-end py-6 gap-2
    }
    .action__go-to-x {
        @apply text-base uppercase text-slate-500 dark:text-slate-400 hover:underline
    }
</style>
